<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SubViewArray</key>
	<array>
		<dict>
			<key>layoutArray</key>
			<array>
				<integer>137</integer>
				<integer>46</integer>
				<integer>40</integer>
				<string>412</string>
			</array>
		</dict>
		<dict>
			<key>layoutArray</key>
			<array>
				<integer>137</integer>
				<integer>170</integer>
				<integer>40</integer>
				<string>289</string>
			</array>
		</dict>
		<dict>
			<key>layoutArray</key>
			<array>
				<integer>32</integer>
				<real>315.5</real>
				<integer>30</integer>
				<string>37</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
